
<body>

    <div class="stories">
    <!--
    {% for item in stories %}
        <section class="story_card">
            <div class="story_img"><img src={{ item['user'].get('image_url') }} alt="{{ item['user'].get('image_url') }}"></div>
            <p class="story_user">{{ item['user'].get('username') }}</p>
        </section>
        {% endfor %}
    -->
    </div>

            
</body>



{#
<body>
    <div class="stories">
        <section class="story_card">
            <div class="story_img"><img src={{ stories[0]['user'].get('image_url') }}></div>
            <p class="story_user">{{ stories[0]['user'].get('username') }}</p>
        </section>
        <section class="story_card">
            <div class="story_img"><img src={{ stories[1]['user'].get('image_url') }}></div>
            <p class="story_user">Orrian</p>
        </section>
        <section class="story_card">
            <div class="story_img"><img src="https://picsum.photos/50/50"></div>
            <p class="story_user">Jackson</p>
        </section>
        <section class="story_card">
            <div class="story_img"><img src="https://picsum.photos/50/50"></div>
            <p class="story_user">Owen</p>
        </section>
        <section class="story_card">
            <div class="story_img"><img src="https://picsum.photos/50/50"></div>
            <p class="story_user">Josh</p>
        </section>
    </div>
    #}
</body>