<!DOCTYPE html>
<html>
    <head>
        <title>Lab 6</title>
        <link rel="stylesheet" href="static/css/lab6.css"/>
        <script lang="text/javascript" src="static/js/lab6.js" defer></script>
    </head>
    <body>
        <h1>Lab6</h1>
        <section id="suggestions">
            <div class="suggestions">
                <img src="???"/>
            <div>
                <p>Richard</p>
                <p>Suggested for you</p>
            </div>
            </div>

        </section>
    </body>
</html>