<!doctype html>
<html lang="en">
<head>
    <title>Photo App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/a55143b9c7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script lang="text/javascript" src="static/js/lab6.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include 'includes/navbar.html' %}
    <main>
        <div class="template">
            <div class="left_col">

            {% include 'includes/stories.html' %}
            <div class="posts">
            {% include 'includes/cards.html' %}
            </div>
            
            </div>
            {% include 'includes/suggestions.html' %}
        </div>
    </main>
</body>
</html>